<footer class="page-footer">
  <div class="row footer-line">
      <div class="col-12" style="height:5px">
      </div>
  </div>
  <div class="row footer-style">
    <div class="col-lg-1 col-md-1 col-sm-1 sources">
        <img class="data-image" src="../static/images/homepage/database.png">
        <a>UCR</a>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 sources">
        <img class="data-image" src="../static/images/homepage/database.png">
        <a>SNAP</a>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 sources">
        <img class="data-image" src="../static/images/homepage/database.png">
        <a>Foreclosure</a>
    </div>
    <div class="col-lg-5 col-md-1 col-sm-1 sources">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5">
      <div id="team-name">
        <p>&#169;2018 Functional Vice(<img src="../static/images/homepage/vice.gif">)</p>
      </div>
    </div>
  </div>
</footer>
