<!DOCTYPE HTML>

<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <title>Crime to Mass Shootings</title>
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles/styles.css">
        <link rel="stylesheet" href="../static/styles/correlation.css">
    </head>

    <body>
        <!-- header -->
        <div class="header">
            {% include 'header.html' %}
        </div>

        <!--Container-->
         <div class='container'>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="selection-container">
                      Pick Two Datasets to Gauge Correlation
                        <div id="checkboxes">
                            <input type="checkbox" name="dataGroup" value="violent_crime" id="c_violent_crime" />
                            <label class="checkselect" for="c_violent_crime">Violent Crime</label>

                            <input type="checkbox" name="dataGroup" value="murder" id="c_murder" />
                            <label class="checkselect" for="c_murder">Murder</label>

                            <input type="checkbox" name="dataGroup" value="population" id="c_population" />
                            <label class="checkselect" for="c_population">Population</label>

                            <input type="checkbox" name="dataGroup" value="foreclosure" id="c_foreclosure" />
                            <label class="checkselect" for="c_foreclosure">Foreclosure</label>

                            <input type="checkbox" name="dataGroup" value="snap" id="c_snap" />
                            <label class="checkselect" for="c_snap">Food Stamp Participation</label>

                            <input class="btn btn-primary" type="button" id="correlateBtn" value="Check Correlation" disabled="true" onClick="callAPI()"></input>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div id="rGauge"></div>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div id="stacked_line">

                      </div>
                  </div>
              </div>

        <!--Footer-->
        <div class="footer">
            {% include 'footer.html' %}
        </div>

        <!--Bootstrap JS/Jquery cdn-->
        <!--JavaScript InPut-->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="../static/js/correlation.js"></script>

    </body>
</html>
