<nav class="navbar navbar-toggleable-sm navbar-light bg-faded navbar-full">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link" id=homeButton href="index.html">Functional_Vice()</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
                  <a class="nav-link" href="../map">Map View</a>
              </li>
              <li class="nav-item">
                      <a class="nav-link" href="../gaugepage">Stats View</a>
                  </li>
              <li class="nav-item">
                      <a class="nav-link" href="/#slide2-point">Key Findings</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#meet-team">Sources</a>
            </li>
        </ul>
    </div>
</nav>
