<!DOCTYPE HTML>

<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <title>Crime to Mass Shootings</title>
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles/styles.css">
    </head>

    <body>
        <!-- Header -->
        <div class="header">
            {% include 'header.html' %}
        </div>

        <!--Team Body-->
      <div class="greyd">
        <div class='container-fluid'>
          <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="team_head">
                  <h1>Meet the Team</h1>
                </div>
            </div>
          </div>

        <div class="team_body">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12 team_card">
                <div class=img_place><img src="../images/jam.png"></div>
                <div class=info_box>
                  <p><b>Jeff Moore</b></p>
                  <a href="https://www.linkedin.com/in/jefferymoore/"><i class="fab fa-linkedin"></i></a>
                  <a href="https://github.com/sbvol"><i class="fab fa-github"></i></a>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 team_card">
                <div class=img_place><img src="../images/mkp.png"></div>
                <div class=info_box>
                  <p><b>Max Parry</b></p>
                  <a href="https://www.linkedin.com/in/max-parry-1913a867/"><i class="fab fa-linkedin"></i></a>
                  <a href="https://github.com/MaxParry"><i class="fab fa-github"></i></a>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 team_card">
                <div class=img_place><img src="../images/mnm.png"></div>
                <div class=info_box>
                  <p><b>Nupur Mathur</b></p>
                  <a href="https://www.linkedin.com/in/nupurnmathur/"><i class="fab fa-linkedin"></i></a>
                  <a href="https://github.com/thenups"><i class="fab fa-github"></i></a>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 team_card">
                <div class=img_place><img src="../images/ams.png"></div>
                <div class=info_box>
                  <p><b>Antonio Sow</b></p>
                  <a href="https://www.linkedin.com/in/sowantonio/"><i class="fab fa-linkedin"></i></a>
                  <a href="https://github.com/projectmt"><i class="fab fa-github"></i></a>
                </div>
              </div>
            <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
          </div>
        </div>
      </div>
    </div>


          <!--Footer-->
      <div class="footer">
      {% include 'footer.html' %}
      </div>
    </body>
</html>
